---
title: Blog
layout: 'base.njk'
---

<div class="section container">
    <h1 class="section-title">Recent articles</h1>
    <ul role="list">
        {%-for post in collection.post-%}
            <li>
                <article class="snippet">
                    <h3 class></h3>
                </article>
            </li>
        {%-endfor-%}
    </ul>
</div>