<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description value="for the latest in everything fashion">
    <meta name="robots" content="index, follow">
    <meta property="og:url" content="https://brave-blackwell-01e153.netlify.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Fashion is our passion come discover cultural brilliance">
    <meta property="og:description" content="We cover all the latest current and hidden gems">
    <meta property="og:image" content="https://brave-blackwell-01e153.netlify.app/assets/blog/bruce-mars-548713-unsplash.jpg">
    <meta name="twitter:card" content="summary">
  
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header.njk' %}
    <main> 
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
</script>


</body>
</html>